/* styles/style.css */

/* Hintergrund für das Poker Interface */
#poker_interface {
    background: #2b2b2b;
}

/* Begrüßungsbildschirm-Styling */
#welcome_box {
    background-color: rgba(255, 255, 255, 0.85); /* Semitransparenter Hintergrund */
    border-radius: 15px; /* Abgerundete Ecken */
    padding: 20px; /* Innenabstand */
}


/* Halbtransparenter Blocker für den Hintergrund */
GtkEventBox {
    background-color: rgba(0, 0, 0, 0.5); /* Halbtransparente Überlagerung */
}


.player-name {
    color: white; /* Weiße Schrift */
    font-weight: bold; /* Fettgedruckt */
    font-size: 16px; /* Größere Schrift */
}


/* Simulierter halbtransparenter Effekt für den Hintergrund */
GtkWindow {
    background: rgba(43, 43, 43, 0.7); /* Semitransparenter Hintergrund */
}

/* Allgemeine Stile für Buttons */
.button-custom {
    background-color: transparent;
    background-image: linear-gradient(to bottom, #4e4e4e, #2e2e2e);
    color: white;
    font-weight: normal;
    font-family: "Impact", fantasy;
    border-style: solid;
    border-width: 2px;
    border-color: #CDAD00;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
    transition: all 200ms ease;
}

.button-custom:hover {
    background-image: linear-gradient(to bottom, #5e5e5e, #3e3e3e);
    border-color: #FFD700;
}

/* Stile für Buttons im Spielzeitfenster*/
.button-custom-spielzeit {
    background-color: transparent;
    color: white;
    font-weight: normal;
    font-family: "Impact", fantasy;
    border-style: solid;
    border-width: 2px;
    border-color: #5e5e5e;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}


/* Textfarben für Labels */
.red-text {
    color: #CDAD00;
    font-weight: bold;
    font-family: "Impact", fantasy;
    font-size: 16px;
}

.green-text {
    color: #9FB6CD;
    font-weight: bold;
    font-family: "Georgia", serif;
    font-size: 14px;
}

/* Spezielle Textstile für das Admin-Fenster */
.red-text-Admin {
    color: red;
    font-weight: bold;
    font-size: 14px;
}

.green-text-Admin {
    color: green;
    font-weight: bold;
    font-size: 14px;
}

/* Neue Klasse für fetten Text */
.bold-text {
    font-weight: bold;
}

/* Tabellenzellen-Stil */
.table-cell {
    background-color: rgba(0, 0, 0, 0.5); /* Halbtransparenter Hintergrund */
    padding: 0px;
    font-weight: bold;
}

/* Neues linkes Padding für Zellen */
.cell-label {
    padding-left: 10px;
    padding-right: 10px;
}

/* Zusätzliche Stile für Eingabefelder */
.entry-field {
    font-size: 14px;
    padding: 5px;
}

/* Stil für Frames */
.frame-style {
    border: none;
}

/* Stil für Labels in Tabellen */
.table-label {
    padding: 5px;
}

/* Hintergrundfarbe für das Hauptfenster */
.window-background {
    background-color: #f0f0f0;
}

/* Stile für Grid und Fixed Layouts */
.grid-style {
    margin: 10px;
}

.fixed-style {
    margin: 10px;
}

/* Stile für das NumPad-Fenster */
.numpad-button {
    background-color: #5e5e5e;
    background-image: linear-gradient(to bottom, #4e4e4e, #2e2e2e);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #CDAD00;
    padding: 5px;
    margin: 2px;
    border-radius: 2.8px;
}

.numpad-button:hover {
    background-image: linear-gradient(to bottom, #5e5e5e, #3e3e3e);
}

/* Stil für den 'Ok'-Button */
.numpad-button-ok {
    background-color: #4CAF50;
    color: white;
    font-size: 24px;
    border-radius: 5px;
}

/* Stil für den '←'-Button */
.numpad-button-backspace {
    background-color: gray;
    color: white;
    font-size: 24px;
    border-radius: 5px;
}

/* Stil für Blind-Titel */
.blind-title {
    font-size: 24px;
    color: white;
    margin-bottom: 5px;
}

/* Stil für Blind-Werte */
.blind-value {
    font-size: 36px;
    color: white;
}

/* Stil für die Buttons um die Blind-Werte */
.blind-button {
    background-color: transparent;
    border: none;
    padding: 10px;
}

/* Hervorhebung des ausgewählten Blind-Werts */
.blind-selected {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 5px;
}

/* Stil für Zeit-Titel */
.time-title {
    font-size: 24px;
    color: white;
    margin-bottom: 5px;
}

/* Stil für Zeit-Werte */
.time-value {
    font-size: 36px;
    color: white;
}

.time-value.selected {
    color: #FFD700;
}

/* Stil für die Buttons um die Zeit-Werte */
.time-button {
    background-color: transparent;
    background-image: linear-gradient(to bottom, #2e2e2e, #1e1e1e);
    border: 2px solid #CDAD00;
    border-radius: 5px;
    padding: 10px;
}

/* Hervorhebung des ausgewählten Zeit-Werts */
.time-selected {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 5px;
}

.error {
    background-color: #ffcccc; /* Helles Rot */
    transition: background-color 0.5s;
}

/* Neue Stile hinzugefügt */
.large-text {
    font-size: 24px;
    font-weight: bold;
}

.dialog-text {
    color: #FFFFFF;
}

.reset-button {
    background-image: linear-gradient(to bottom, #8B0000, #660000);
    border-color: #FF6347;
}

.reset-button:hover {
    background-image: linear-gradient(to bottom, #A00000, #770000);
    border-color: #FF7F50;
}
